 
<div class="margin-horizontal-3">
    
    <div class="app-dashboard-body-content off-canvas-content" data-off-canvas-content>
        
        <h7>＊「思う」と記載がある文章に関しては個人的主観でしかございません。＊</h7>
        
    <div class="text-center">
      <h2>Descri（仮名）について</h2>
　　　<h7>（完結にいうと日本の港まとめwebサイト）</h7>
    </div>
      <h4 class="text-center" style="font-weight: bold; background-color:#DDFFFF; padding: 10px;">船会社が求める物とは？</h4>
      <ul> 
          <li style="font-weight: bold;">(1)コスト</li>
          <li style="font-weight: bold;">(2)オペレーションの質</li>
          <li style="font-weight: bold;">(3)高いツアーの質, deep な内容のツアー</li>
      </ul>
      
      <h4 class="text-center" style="font-weight: bold; background-color:#DDFFFF; padding: 10px;">現在のショアエクスカーション、セールスについて</h4>
      <ul>
          <li>(1)コストは新規参入については安く、そこから徐々にオプションや次年度見積もりで回収</li>
          <li>(2)オペレーションの質をアピール</li>
          <li>(3)ツアー内容はLCツアーに代表されるように、多くのローカルなツアーを作成した。それをアピール</li>
      </ul>

<hr>      
      <ul class="text-center"> 
        <h4 style="font-weight: bold; background-color:#DDFFFF; padding: 10px;">他社比べ上記３点はどうなのか？</h4>
        <li class="button primary" style="font-weight: bold;">(1)コスト　△　
        <p>他社に負けないように低く見積もるが、収益確保を考慮し基本的なレートでは確実に負ける。</p></li>
        <li class="button success" style="font-weight: bold;">(2)オペレーションの質
        <p>数字では比較的ない物なのでなんとも言えないが、GMTは８割方は他社に比べ良いオペレーションをしているとは個人的には思う<br>
        ただ問題としては、あくまで本社側の評価は現場（クルー）からのレビューとお客様からのSurveyでしかない。<br>
        現場の声 (クルー)　→　カーニバル系の船は、オペレーターへのイメージを現場ベースで汲み取っている部分は大きいと思う。ただ、他社はどうか？
        また、お客様Surveyは、最も船社も気にする数字であるが、ガイドやツアー内容による比重が大きい。</p>
        <strong>結果：（よっぽど他社が適当でない限り）　船社がGMTを確実に利用するというdecisionには至りづらい。</strong></li>
        <li class="button secondary" style="font-weight: bold;">(3)ツアーの質、内容<p>クルーズ特有のmassツアーによって、例年ガイドの取り合いが起きる。また、いくら良い内容のツアー
        を作成しても、やはり高いレベルのガイドの数は限られてしまう。</p>
        <strong>現状→早めにガイドに依頼する。ガイドさんと良好な関係を保つ。</strong><br>
         <p>ただ、この方法には近年限界が見え始めてきた。＝＝＞ガイド高齢化、後継問題で質の高いガイドが不足する中、クルーズツアーの数にそぐわない。</p>
         <strong>結論：他社との奪いあいも大事であるが、ガイド不足におけるその他対策をとるべき段階なのでは？</strong></li>
      </ul>
      
      
<hr>
      <h4 class="text-center" style="font-weight: bold; background-color:#008080; padding: 10px;">Suggested Solution</h4>
      
      
      <h7>(3)ガイド問題については、早々にスタンダードツアーを音声ガイド化する。が有効だと思うがまたの機会とする。</h7><br>
　　　
　　　<h5 style="font-weight: bold;">＊Descriの有効性<h5>
　　　<h7>(1),(2)の現状については、その他解決作があると思うが、今回は別角度からDescriという解決方法を提案。</h7>
　　　<ul>
　　　    <li><h6>＊そもそもGMT（JTB）の強み<i class="fas fa-sun"></i>とは何か？</h6><li>
　　　    <li>→地方での信頼・アプローチのしやすさ。ネーム</li>
　　　    <li><h6>＊抱えている弱み<i class="fas fa-cloud-rain"></i>（解決すべき課題）</h6></li>
　　　    <li>→ブランド力の低下（個人主観）。デジタル系統。</li>
　　　</ul>
　　　
　　　<h4 class="text-center" style="font-weight: bold; background-color:#DDFFFF; padding: 10px;">Descriによって何が得られる（解決される）か。</h4>
　　　<h5 style="font-weight: bold;">時間</h5>
　　　<li>船会社(だけではなくおそらく我々も)がわざわざ時間を割いてググる必要がなくなる。知見を集約することができる。</li>
　　　<li>記載内容以外の質問のみ船社からコメント・メールが送信されてくるため、些細な質問に割く時間の節約</li>
　　　<h5 style="font-weight: bold;">港との関係</h5>
　　　<li>GMTと契約している船会社が、Descriを利用し港の情報を手に入れるという構図を確立すると、GMTに港から有益な情報が迅速に・限定的に集まりやすくなるのではないだろうか</li>
　　　<h5 style="font-weight: bold;">ブランド力・セールス力</h5>
　　  <li>船会社＝＝GMT＝＝港という構図が完成すれば、GMTはクルーズ業界のオペレーターとしてなくてはならない存在になれるのではないだろうか</li>  
　　  <li>デジタル・web、旅行以外の流動的な情報商材を扱うアプリケーションなので、長期的な使用を見込める。</li>

　　　<h4 class="text-center" style="font-weight: bold; background-color:#DDFFFF; padding: 10px;">Next steps</h4>
　　  <h5>＊ステップ1</h5>
　　  <h6>Webアプリケーション制作。会社に依頼？JTBサーバーは使用しない方向で・・・</h6>
　　  <h5>＊ステップ2</h5>
　　  <h6>作成後、必要な情報を各港と連携して入力</h6>
　　  <h5>＊ステップ3</h5>
　　  <h6>運用/セールス開始。</h6>
    </div>
  　
  <div>
　　　<h4 class="text-center" style="font-weight: bold; background-color:#DDFFFF; padding: 10px;">考慮すべき点</h4>
　　　<li>大きなリスクないが、直接利益を生み出すシステムではなく、あくまでオペレーターとしてGMTの価値を高めるにすぎない。<br>そのため、オペレーターとしての地位向上にはつながるが、引き続き同じクオリティのサービス提供は必要。</li>
      <li>また、実際に船会社が港について検索する際の情報収集方法や手間、コスト等を収集し明確にする必要がある。</li>
  </div>


</div>