/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
    box-sizing: border-box; 
}


@import "font-awesome-sprockets";
@import "font-awesome";
@import 'foundation';

@include foundation-everything;
@include foundation-prototype-classes;


html{
   height: 100%;
}
body {
  display: flex; //フレックスボックスに有効に
  flex-flow: column; //要素を縦に並べる
  min-height: 100vh; //最小でも画面の高さ分のbodyの高さを担保する
}

.container{
  flex: 1; //画面の高さから他の同レイヤーの要素の高さを引いた値に
  min-height: 100%;
}

main {
  flex: 1; //画面の高さから他の同レイヤーの要素の高さを引いた値に
}
img{
    border-radius: 10px; 
}
li{
    list-style: none;
}
// header
.header-font{
    font-family: Century; 
    font-size: 25px;
}

.header-font-item{
    font-size: 15px;
    border: 1px solid #000; 
}

.admin-show-title{
    font-family: Century;
    color: #000044;
}

// port new

.area-height{
    height: 200px;
}

.admin-height2{
    height: 200px;
}

.area-width{
    width: 800px;
}

.flash{
    z-index: 10000;
    text-align: center;
    color: #000;
    &__alert{
    background-color: #CC0000;}
    &__notice {
    background-color: #78FF94;}
}

.fa-lightbulb{
    color: #FFFF66;
    text-shadow: 0 0 3px #000;
}
